<a href="https://colab.research.google.com/github/eistratova/PyTorch_programming_lessons/blob/main/dataset_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Подготовка датасета для машинного обучения


---


Датасет для обучения сети предсказанию психофизиологического состояния человека


---




Датасет вместе с json-файлом находится на Google-диске по [ссылке](https://drive.google.com/drive/u/0/folders/1QLwkJ4fBdQKWoJiMtBljDzmiIrUUL9XB)
 
 Описание датасета и формата json-файла находится в папке выше уровнем в файле `_README`.


---



 ## Задача
 1. Сформировать дата-фрейм для машинного обучения. Так же, сохранить дата-фрейм в формате Excel. Файл сохранять на Google-диске в той же директории, где находится json-файл.
 2. Очистить датасет или подправить значения полей.
 3. Добавить столбцы со значением даты и времени (раздельно).
 4. Желательно доавить столбец, в котором для каждого диктора указан номер записи в каждом дне. 
 2. Добавить столбец с частотой дискретизации аудиозаписи.
 3. Из дата-фрейма и таблицы Excel исключить записи короче 20 секунд. 

    *12.10.2021*


---

1. Подключаем гугл диск
2. Импортируем панду и создаем дата фрейм
3. Сохраняем в эксель с помощью
-  Вставьте JSON в json-csv.com .

 - Загрузите полученный файл CSV.

 - Откройте файл CSV в Excel.
4. Смотрим дата сет и чистим поля
5. ђй2


1.   Новый пункт
2.   Новый пункт

In [ ]:
 
# Подключение к Google-диску, где хранятся данные и будут сохраняться модели.

from google.colab import drive
drive.mount('/gdrive')
# Переходим на диск
%cd /gdrive
%ls

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive
MyDrive/  Shareddrives/

In [ ]:
# Проверяем наличие доступа к директории с дата-сетом записей и выводим 7 строк с названиями файлов

%cd '/gdrive/Shareddrives/Archive/voice-psychophysiology-data-set/GRAN'
%ls -x | head -n 7

/gdrive/Shareddrives/Archive/voice-psychophysiology-data-set/GRAN
DBGranSounds.json
DBGranSounds.xls
dfgran_cleaned.csv
dfgran_cleaned.xlsx
dfgran.csv
dfgran.xlsx
dictor_rec_count.xlsx

In [ ]:
import json
from pprint import pprint #подключили Pprint для красоты выдачи текста
import pandas as pd

In [ ]:
dir=('/gdrive/Shareddrives/Archive/voice-psychophysiology-data-set/GRAN/')

In [ ]:
with open(dir+'DBGranSounds.json', 'r') as jfile:
    json_data = json.load(jfile)
    #pprint(json_data) #вывели результат на экран

activity_type': 'оператор',
  'age': '52',
  'dictor_id': 'stesht',
  'filename': 'GRAN_stesht_00000_20211006_061416.wav',
  'gender': 'Женщина',
  'health': 'норма',
  'memo': '',
  'record_date_time': '2021-10-06 06:14:10',
  'record_id': '00000'},

In [ ]:
gran_df = pd.read_json(dir+'DBGranSounds.json')
gran_df.head()

                                       filename  ...       memo
0            GRAN_test_0000_20210621_155009.wav  ...   Тестовый
1      GRAN_kelesheva_00000_20210630_102019.wav  ...          -
2  GRAN_evtushenkopmi_00000_20210701_005006.wav  ...
3    GRAN_bugrovayagi_00000_20210701_045941.wav  ...
4               GRAN__00000_20210701_045844.wav  ...  Норм день

[5 rows x 9 columns]

In [ ]:
gran_df.to_excel(dir+'DBGranSounds.xls', 'name')

In [ ]:
gran_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7278 entries, 0 to 7277
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   filename          7278 non-null   object
 1   record_date_time  7278 non-null   datetime64[ns]
 2   gender            7278 non-null   object
 3   age               7278 non-null   object
 4   record_id         7278 non-null   object
 5   dictor_id         7278 non-null   object
 6   activity_type     7278 non-null   object
 7   health            7278 non-null   object
 8   memo              7278 non-null   object
dtypes: datetime64[ns](1), object(8)
memory usage: 511.9+ KB

In [ ]:
#gran_df['age']=gran_df.astype('int64')

In [ ]:
gran_df['age'].value_counts()

       591
23     386
25     377
32     368
0      366
      ...
019      1
--       1
3        1
11       1
522      1
Name: age, Length: 67, dtype: int64

In [ ]:
gran_df.age.unique()

array(['33', '', '26', '31', '23', '20', '39', '22', '44', '52', '36',
       '32', '49', '50', '58', '34', '35', '25', '48', '30', '47', '42',
       '18', '73', '51', '24', '29', '28', '19', '55', '43', '37', '38',
       '21', '40', '45', '27', '53', '64', '-', '46', '66', '62', '54',
       '61', '56', '57', '2', '17', '--', '25 ', '522', '1', '59', '322',
       '17 ', '11', '0', '025', '41', '047', '033', '019', '042', '99',
       '018', '3'], dtype=object)

In [ ]:

count = 0
for raw in gran_df.index:
    if gran_df.age[raw]  == '522':
        print("Замена 522 на 0")
        gran_df.age[raw] = 0
    if gran_df.age[raw]  == '322':
        gran_df.age[raw] = 0
    count += 1
print('Проверили строк:', count)
print(gran_df.age.unique())

Замена 522 на 0
Проверили строк: 7278
['33' '' '26' '31' '23' '20' '39' '22' '44' '52' '36' '32' '49' '50' '58'
 '34' '35' '25' '48' '30' '47' '42' '18' '73' '51' '24' '29' '28' '19'
 '55' '43' '37' '38' '21' '40' '45' '27' '53' '64' '-' '46' '66' '62' '54'
 '61' '56' '57' '2' '17' '--' '25 ' 0 '1' '59' '17 ' '11' '0' '025' '41'
 '047' '033' '019' '042' '99' '018' '3']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
gran_df = gran_df.replace( {'age': {'--':'0', '-':'0', '025':'0', '019':'0', '042': '0', '99':'0', '018': '0'}} )

In [ ]:
gran_df.age.unique()

array(['33', '', '26', '31', '23', '20', '39', '22', '44', '52', '36',
       '32', '49', '50', '58', '34', '35', '25', '48', '30', '47', '42',
       '18', '73', '51', '24', '29', '28', '19', '55', '43', '37', '38',
       '21', '40', '45', '27', '53', '64', '0', '46', '66', '62', '54',
       '61', '56', '57', '2', '17', '25 ', 0, '1', '59', '17 ', '11',
       '41', '047', '033', '3'], dtype=object)

In [ ]:
gran_df.isna().sum()

filename            0
record_date_time    0
gender              0
age                 0
record_id           0
dictor_id           0
activity_type       0
health              0
memo                0
dtype: int64

In [ ]:
gran_df['age'] = pd.to_numeric(gran_df['age'])

In [ ]:
gran_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7278 entries, 0 to 7277
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   filename          7278 non-null   object
 1   record_date_time  7278 non-null   datetime64[ns]
 2   gender            7278 non-null   object
 3   age               6687 non-null   float64
 4   record_id         7278 non-null   object
 5   dictor_id         7278 non-null   object
 6   activity_type     7278 non-null   object
 7   health            7278 non-null   object
 8   memo              7278 non-null   object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 511.9+ KB

In [ ]:
gran_df['age'].unique()

array([33., nan, 26., 31., 23., 20., 39., 22., 44., 52., 36., 32., 49.,
       50., 58., 34., 35., 25., 48., 30., 47., 42., 18., 73., 51., 24.,
       29., 28., 19., 55., 43., 37., 38., 21., 40., 45., 27., 53., 64.,
        0., 46., 66., 62., 54., 61., 56., 57.,  2., 17.,  1., 59., 11.,
       41.,  3.])

In [ ]:
gran_df = gran_df.fillna(0)

In [ ]:
gran_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7278 entries, 0 to 7277
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   filename          7278 non-null   object
 1   record_date_time  7278 non-null   datetime64[ns]
 2   gender            7278 non-null   object
 3   age               7278 non-null   float64
 4   record_id         7278 non-null   object
 5   dictor_id         7278 non-null   object
 6   activity_type     7278 non-null   object
 7   health            7278 non-null   object
 8   memo              7278 non-null   object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 511.9+ KB

In [ ]:
gran_df['record_date'] = pd.to_datetime(gran_df['record_date_time'].dt.date)

In [ ]:
print(gran_df['record_date'].dt.date)

0       2021-06-21
1       2021-06-30
2       2021-07-01
3       2021-07-01
4       2021-07-01
           ...
7273    2021-11-02
7274    2021-11-02
7275    2021-11-02
7276    2021-11-02
7277    2021-11-02
Name: record_date, Length: 7278, dtype: object

In [ ]:
gran_df['record_time'] = (pd.to_datetime(gran_df['record_date_time']).dt.time)

# Преобразуем время из поля record_time в продолжительность (в минутах, например))

In [ ]:
gran_df['record_time_str'] = gran_df['record_time'].astype(str)

In [ ]:
print(gran_df['record_time_str'])

0       15:50:06
1       10:20:06
2       00:50:07
3       04:59:07
4       04:58:07
          ...
7273    14:52:11
7274    14:51:11
7275    14:52:11
7276    14:55:11
7277    15:04:11
Name: record_time_str, Length: 7278, dtype: object

In [ ]:
'''
функция перевода времени в часы (рабочая, но нам не подходит, т к у нас Series)
def time_to_num(record_time_str):
  hh, mm , ss = map(int, gran_df.record_time_str.split(':'))
  return ss + 60*(mm + 60*hh)
  #gran_df.append(gran_df['record_time_num'])
'''

"\nфункция перевода времени в часы (рабочая, но нам не подходит, т к у нас Series)\ndef time_to_num(record_time_str):\n  hh, mm , ss = map(int, gran_df.record_time_str.split(':'))\n  return ss + 60*(mm + 60*hh)\n  #gran_df.append(gran_df['record_time_num'])\n"

In [ ]:
# переводим продолжительность в часы
# отличное описание здесь: https://coderoad.ru/51938140/%D0%9A%D0%B0%D0%BA-%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B8%D1%82%D1%8C-%D0%BF%D1%80%D0%BE%D0%B4%D0%BE%D0%BB%D0%B6%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8C-%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%B8-%D0%B8%D0%B7-%D0%B4%D0%B2%D1%83%D1%85-%D1%81%D1%82%D0%BE%D0%BB%D0%B1%D1%86%D0%BE%D0%B2-%D0%B4%D0%B0%D1%82%D1%8B-%D0%B8-%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%B8-pandas

import numpy as np
gran_df['record_time_h'] = (gran_df['record_time_str'])/np.timedelta64(1,'h')
gran_df['record_time_h']

0       15.835000
1       10.335000
2        0.835278
3        4.985278
4        4.968611
          ...
7273    14.869722
7274    14.853056
7275    14.869722
7276    14.919722
7277    15.069722
Name: record_time_h, Length: 7278, dtype: float64

In [ ]:
# преобразовываем в минуты
gran_df['record_time_min'] = (gran_df['record_time_str'])/np.timedelta64(1,'m')
gran_df['record_time_min']

0       950.100000
1       620.100000
2        50.116667
3       299.116667
4       298.116667
           ...
7273    892.183333
7274    891.183333
7275    892.183333
7276    895.183333
7277    904.183333
Name: record_time_min, Length: 7278, dtype: float64

In [ ]:
gran_df.head()

                                       filename  ... record_time_min
0            GRAN_test_0000_20210621_155009.wav  ...      950.100000
1      GRAN_kelesheva_00000_20210630_102019.wav  ...      620.100000
2  GRAN_evtushenkopmi_00000_20210701_005006.wav  ...       50.116667
3    GRAN_bugrovayagi_00000_20210701_045941.wav  ...      299.116667
4               GRAN__00000_20210701_045844.wav  ...      298.116667

[5 rows x 14 columns]

In [ ]:
'''
gran_df['record_time_delta'] = pd.to_timedelta(gran_df['record_time_str'])
gran_df.record_time_delta.head()
# похоже, что record_time_str имеет формат str,
# так как, если вместо поля record_time_str подставить record_time, то будет ошибка
'''

In [ ]:
'''
gran_df['record_time_delta'] = pd.to_timedelta(gran_df['record_time_delta'], unit='ms')
gran_df.record_time_delta.head()
# не удалось преобразовать длительность в минуты...
'''

Удалось преобразовать в продолжительность, измеряемую в днях, часах и минутах.


_______________

In [ ]:
# группируем по дикторам и количеству записей у каждого
gran_df_gb = gran_df.groupby(['record_date', 'dictor_id'])['filename'].size().reset_index(name='Size')

print(gran_df_gb.head(20))

   record_date      dictor_id  Size
0   2021-06-21           test     1
1   2021-06-30      kelesheva     1
2   2021-07-01                    3
3   2021-07-01           ajuk     2
4   2021-07-01      barskovgl     2
5   2021-07-01    bugrovayagi     2
6   2021-07-01          ch135     1
7   2021-07-01      chubarrgl     2
8   2021-07-01        chuzha1     4
9   2021-07-01     dubininagl     1
10  2021-07-01      eremenko6     2
11  2021-07-01  evtushenkopmi     2
12  2021-07-01  gernosekova_d     2
13  2021-07-01      gomenukkk     1
14  2021-07-01   goncharova15     2
15  2021-07-01     harab-sber     2
16  2021-07-01  illarionova21     2
17  2021-07-01  ipetropavlova     2
18  2021-07-01       ischukgl     2
19  2021-07-01     ivanova_ot     2

In [ ]:
print(gran_df_gb.sort_values(by=['Size','record_date']))#(ascending=False))
gran_df_gb.to_excel(dir+'dictor_rec_count.xlsx','counts')

     record_date       dictor_id  Size
0     2021-06-21            test     1
1     2021-06-30       kelesheva     1
6     2021-07-01           ch135     1
9     2021-07-01      dubininagl     1
13    2021-07-01       gomenukkk     1
...          ...             ...   ...
511   2021-07-07                     5
603   2021-07-08                     6
3989  2021-10-21  Не определенно     6
133   2021-07-02        muzychuk     7
876   2021-07-12                     8

[4167 rows x 3 columns]

In [ ]:
gran_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7278 entries, 0 to 7277
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   filename          7278 non-null   object
 1   record_date_time  7278 non-null   datetime64[ns]
 2   gender            7278 non-null   object
 3   age               7278 non-null   float64
 4   record_id         7278 non-null   object
 5   dictor_id         7278 non-null   object
 6   activity_type     7278 non-null   object
 7   health            7278 non-null   object
 8   memo              7278 non-null   object
 9   record_date       7278 non-null   datetime64[ns]
 10  record_time       7278 non-null   object
 11  record_time_str   7278 non-null   object
 12  record_time_h     7278 non-null   float64
 13  record_time_min   7278 non-null   float64
dtypes: datetime64[ns](2), float64(3), object(9)
memory usage: 796.2+ KB

Выделяем колонку с данными дикторов и приводим ее в надлежащий вид

In [ ]:
# Выделяем колонки, которые нам нужны.
col = ['dictor_id', 'health']
gran_df_for_analiz = gran_df[col]
# df = df[['Диктор ID', 'Здоровье']]
print("\nПреобразованная таблица с 2-мя столбцами:")
print(gran_df_for_analiz [:7])

# drop lines with null 
gran_df_for_analiz = gran_df_for_analiz[pd.notnull(gran_df_for_analiz['dictor_id'])]

Преобразованная таблица с 2-мя столбцами:
       dictor_id health
0           test  норма
1      kelesheva  норма
2  evtushenkopmi  норма
3    bugrovayagi  норма
4                 норма
5      chubarrgl  норма
6      barskovgl  норма

In [ ]:
gran_df_for_analiz['dictor_id'].unique()

array(['test', 'kelesheva', 'evtushenkopmi', 'bugrovayagi', '',
       'chubarrgl', 'barskovgl', 'ischukgl', 'kkostyuchenko', 'morgunpmi',
       'sahnevichpmi', 'илона', 'nikonova1', 'ivanova_ot', 'chuzha1',
       'zhovtobrukh', 'kondratovich8', 'stasik', 'goncharova15',
       'наталья николайчук', 'puliaeva', 'melnik25', 'sukhorokova',
       'storojerka', 'orehova_ot', 'savchenko17', 'moshkova', 'lutsenko2',
       'mikhailenko', 'vsokol', 'rudyk_dd', 'eremenko6', 'lisovets77',
       'ajuk', 'ipetropavlova', 'pisarcov', 'павел', 'sidorovich9',
       'волковская виталина', 'senotrusova_o', 'kirdyn7', 'maleynikov',
       'rybaya1', 'ирина', 'sushko1', 'sechina-g', 'shapoval_kk',
       'illarionova21', 'kycenko', 'harab-sber', 'savarina5',
       'петрухина оксана', 'maks_kk', 'gernosekova_d', 'алена холодная',
       'melnikovagl', 'nosenkokk', 'zhovtobryukh', 'zhelkk', 'sivakgl',
       'kondratovich25', 'натальяниколайчук', 'zheleznkk', 'dubininagl',
       'komarov_m', 'оксана', 'vaulina', 'tofankk', 'gomenukkk',
       'polejpmi', 'кириллбудков', 'волковскаявиталина', 'kushnerukotp',
       'romanchikkk', 'rudykdd', 'zadorojnaya1', 'odavletkuzhyna',
       'kozhevaot', 'корниловаолеся михайловна', 'ch135', 'kharabadze',
       'sitnikkk', 'makskk', 'kovtunkk', 'шпилейтимур александрович ',
       'ext-cc0008', 'kopeyka', 'koshikkk', 'ohrimenko', 'zaborskayaotp',
       'butkk', 'ivanovakk1', 'muzychuk', 'bukovskaya', 'lushnkk',
       'solomatovakk', 'mikhalyuk', 'татьяна', 'sheveliuk5', 'azhuk',
       'voloshinakk', 'tkachenkomn', 'натали', 'jags', 'chmil15',
       'orehovaot', 'privalova3', 'ignatuk111', 'иван', 'оксанакорешкова',
       'kucherovskiy', 'nikitina6', 'yakovleva11', 'santar1',
       'shevchenkokk', 'shevchenko17', 'lubchenko', 'nikulina7',
       'sherbakova4', 'savchenko19', 'senotrusovao', 'prigornickiyd',
       'abolihina1', 'myagkih', 'gernosekovad', 'kruzhkova', 'kislov',
       'harabsber', 'greckasl', 'shapovalkk', 'анжела', 'kasian333',
       'jurchenkork', 'efremenko4', 'borisov5', 'mirzaeva', 'yakot',
       'kovalevae', 'untilova', 'kalyuzhnaya1', 'okiseleva', 'ostapkk',
       'getmanes', 'натальяковаль', 'ольгапляцковская', 'shevchenkoe',
       'артем', 'vera-gluh-g', 'lborisenko', 'komarovm', 'podoprigora',
       'кирилл', 'malik3', 'aleynikov', 'panasyuk', 'musihinaot',
       'buhanec', 'geryak', 'radionova2', 'tupchienko', 'koval',
       'miroshnichenko20', 'yakovleva95', 'bida', 'malchenko3', 'didan',
       'ольга', 'belyayeva', 'dovganiuk', 'gnatovskaja', 'doks',
       'bezgub18', 'shelamovkk', 'malysheva', 'leyko', 'churkin133',
       'shylo55', 'manoilemko', 'boichukrk', 'kupalniya',
       'mirochnichenko20', 'podrushs', '  kupalniya', '9587',
       'golovachova', 'suvenuk', 'barskova5', 'пляцковскаяольга',
       'kovalenkoya', 'matseplyuk', 'savarin5', 'gladkii', 'тимур',
       'yarovaya5', 'ext-cc3012', 'leontyan', 'dovgotuchenko',
       'tupchienkob', 'dsamarskaja', 'tihonova1', 'tkachik',
       'moskalenkoe', 'kostyuchenkok', 'voitenkokk', 'ivanovaot',
       'akimova1', 'zinkevich', 'натальяпомарина', 'shvedova5',
       'dgoncharova', 'jakovec', 'cholobova', 'владислав', 'ayaroshenko',
       'potynga', 'dovgoruchenko', 'kalyuzhnay1', '80006893',
       'фартушнаяелизавета алексеевна', 'holyavchukkk', 'hmarakk',
       'norgunpmi', 'sergeeva7', 'nepomkk', 'ogulikts', 'ivanovajanna',
       'ostapenko1', 'tankova15', 'tshpiley', 'efemenko4', 'kostik4',
       'ilvacheva', 'bezgub7', 'tsopa1', 'sheveluk99', 'savchenko21',
       'shepetkinakk', 'kornilova', 'mozgovayaotp', 'gritsay', 'аннав',
       'serezhnikova1', 'kapranova2', 'barabashuk2', 'privalova1',
       'novolozhilova2', 'kaplya2', 'krivaya1', 'yakimenko25', 'koval1kk',
       'gladky', 'velikaya', 'yak0t', 'shavkun', 'belyayeva1', 'kizim2',
       'bitsrickaya5', 'краснянольга', 'belyayaeva1', 'suhachevskaya2',
       'teres', 'egorovahd', 'kudelya', 'kovtun6', 'nfoz03', 'klykova',
       'tatarova', 'светенкоекатерина', 'петриченковалерия ', '80006703',
       'dovganiuk7', 'kucherevenko15', 'zinkevich2', 'grecka',
       'kostenko3', 'goncharova15\t', 'mankovskaya', 'mihajlovskajaerka',
       'sherbina4', 'yakimenko10', 'lutsenko10', 'melnik20',
       'пляковскаяольга', 'yashukai', 'n08zqam', 'panasyuktaniyna',
       'bogdanbilenko', 'dmaslov', 'kozyr', 'filatova6', 'moskalenko1',
       'panasyuktatiyna', 'bilenkobogdan', 'лизафартушная', 'vikhalyuk',
       'mkapusta', '9386543060', 'маша', 'богданбиленко', 'kalyuzhnaya',
       'lubchenko10', 'kovtun20', 'масловданя', 'zavolenkovskaya', '7712',
       '9775308851', 'оператор', 'лкгярлщмф', 'sereznikova10', 'egorova',
       'miroshnichenko21', 'babchenko3', 'efrremenko4', 'воладислав',
       'sokalskayalp', 'stotojerka', 'николай', 'богданбиленко ',
       'биленкобогдан', 'martynovapmi', 'dzyubenko', 'мария',
       'масловданил', 'mihajlovskayaerka', 'карина', 'dzyuba',
       'gernjsekovad', 'gernesekovad', 'юля', 'vdovichenko', 'анна',
       'dzuba', 'сафо', 'dzuyba', 'kparopmi', 'avdeenko2', 'rojina',
       'Не определенно', 'масловдагя', 'соединитьс магазином',
       'amaksimenko', 'karebinakn', 'karebinakh', 'grartemovatm',
       'ozhegovakh', 'grartemyevaea', 'dzheldybakovakh', 'yashinakh',
       'земцовроман', 'кирилловаирина kirillova13', 'александр80003908',
       'крижановкийвадим krizhanovskiy', 'захароввладислав в zaharov',
       'осиповниколай александрович', 'яна', 'захароввладислав zaharov',
       'романземцов', 'маркосянартём markosyan', 'осиповниколай',
       'иринакириллова kirillova13', '80007878', 'александршумилов',
       'zhenishek23женишек наталья', 'ma-lebedev-g', '80007108',
       '80004767', '80005199', '80004974', '80004344', 'mamoshin',
       'токареванаталья ', 'kotova23', 'amelnikova', 'аксанаомарова',
       'токареванаталья', 'ангелина', 'grtakaevaoa', 'grkupzovaas',
       'grgayvoronskayapa', 'grsidorenkova', 'grbomchuksi',
       'grkachalovamv', 'grvolkovaov', 'msukhano1', 'grruminaaa',
       'grdenisovaos', 'vyarovetбелокопытов андрей', 'grmelnikovate',
       'александрпоручиков aporuchi', 'amandrovмаркушина',
       'grgalishevana', 'grkurushinaon', 'grgnusinagn', 'grkaluginasa',
       'grseminaon', 'grvakulenkova', 'grimukovaai', 'gryabchenkola',
       'олесяказеннова', 'grshvetsovanss', 'zayceva1', 'elebedev9',
       'chudinovamd', 'бирюковаяна владиславовна', 'ольгаисаева',
       'галина', 'knyzkin', 'kurguz', 'аксанаомарова ', 'birukova23',
       'aporuchi', 'grkupzaas', 'мельниковданиил сергевиич',
       'колчинасветлана владиславовна', 'ильдюковамилена валерьевна',
       'кадышевконстантин владимирович', 'абрамовникита александрович',
       'субботиналексей александрович', 'rahmanovakh', 'aomarova',
       'светлана', 'gravolkovaov', 'grprosnikovaep', 'grryabchenkola',
       'yatmanovakh', 'галимовалилия габдулхаковна', 'алексей',
       'bobovalex01150532', 'grterentyevasa1', 'lavrushkina',
       'ярыгинданиил олегович', 'александр', 'василиса',
       'grkrasilnikovael', 'алексееваюлия ', 'zolotarev01150534',
       'sbornovaa01129245', 'zaitsevae01113329', 'кравчукекатерина',
       'tuvashkin', 'nekluydin01129244', 'grsvetsovanss',
       'мельниковданиил сергеевич', 'светланаалексеева владимировна',
       'kandalinc01129243', 'володинолег романович',
       'пономареванаталья александровна', 'елисеевегор вадимович',
       'grablevro01150533', 'sbodrov1', 'edunaev1',
       'цыгановаалександра александровна', 'лебедевматвей игоревич',
       'харченкоданила дмитриевич', 'мавлетбердинданиил альмирович',
       'murzinrad01150539', 'verasmich01129241', 'nezametdi01150540',
       'дегтяревандрей ', 'ионовавасилиса андреевна', 'алёна',
       'кристинамурая', 'lksenafontova', 'молоковичандрей владимирович',
       'петруниналександр викторович', 'алексеевасветлана владимировна',
       'grtumaevaya', 'олеся', 'артёмкирюхин константинович ', 'макс',
       'pollyrobocar', 'еленакутлимбитова 80007894', 'маркушинадарья',
       'ermohina', 'lenak', 'gr', 'yahsinova',
       'ивановаанастасия александровна ', 'новиковаалена павловна',
       'alieva1', 'звездилинаяна александровна ', 'vlasovaar',
       'grshvetsovans', 'индира', 'lmusina', '80005758', 'balashov2',
       'ykovleva1', 'stupchy', 'zuzinm', 'zaharov', 'дарьямаркушина',
       'lenak  ', 'ивановаанастасия александровна', 'gulievaur',
       'tukshumskayaur', 'lukyanova-g', 'zhenishek23', 'shajmurzina',
       '693311', 'grkuotsova', 'кузнецоваекатерина сергеевна',
       'адонинилья игоревич', 'шатскаяанастасия андреевна', 'aporuchikov',
       'олег', 'степановпавел алексеевич', 'миленаильдюкова',
       'naabramov-g', 'grdenisova', '624737', 'abelokopytov',
       'kolesnikovaur', 'beznikina01150531', 'vankova23', '878413',
       'babenko23', 'isaeva23', 'лебедевматвей', 'колчинасветлана',
       'наталья', 'furovivan01129246', 'харченкоданила', 'obabenko',
       'лебедевматвей ma-lebedev-g', 'цыгановаалександра',
       'натальяпономарева', 'grmelkovate', 'цыганова александра',
       'grvolklovaov', 'gvlasovaar', 'grkuptsovaas', 'grtishinaso',
       'александрацыганова', 'gramelnikovate', 'grsagetdinova',
       'mmalyshe1', 'костенкостанислав валерьевич', 'grgolovinana',
       'маркосянартем markosyan', 'шатровскаявероника валерьевна',
       'ougleva', 'nimkina', 'naabramov-g)', 'rezcovaur', 'kravcova2',
       'skraus', 'sokalskaya', 'kyzikin1',
       'алексевасветлана владимировна', 'матвейлебедев',
       'алексеевасветлана владмировна', 'добришкинаюлия', 'isaevakh',
       'шатскаяанастасия ', 'пархачевмаксим 80004894', 'дмитрийшестаков',
       'степановпавел', ' grprosnikovaep', 'grdenisoos', 'ovolkovaov',
       'mishutina01113330', 'ярыгинданиил', 'bolsunovskayakh', 'grsemina',
       'sablukovakh', 'o-babenko', 'naabramob-g', 'kolesnikovaur ',
       'степановпавел ', 'ширявсковаюлия сергеевна', 'lvolkova2',
       'ширшоваева', 'nabramov-g', 'кадышевкв ', 'isaeva',
       'grntmall_teamt_028', 'ширявсковаюлия ', 'artemevakh', 'mingazova',
       'volkovat', 'yshiryae ', 'korneevae', 'ширявсковаюлия', 'надежда',
       'ишкглщмф23', 'volovat', 'krishtafovichdhl', 'zavgorodnyayadhl',
       'nkhorosh', 'лилияновикова', 'александраскрыпник', 'avoronenko',
       'nsteshova', 'kort', 'stesht', 'cjurikov22', 'sert',
       'лилиямельник', 'baykovpmi', 'sahno1', 'shert', 'vaskulpmi',
       'лилия', 'liaschenkodhl', 'александра', 'grposnikovaep',
       'dzheldybakovargs', 'karebinargs', 'vlevin1', 'osipov',
       'riabinova', 'churashova', 'grartemova', 'birukova23ё',
       'cernovden01232261', 'mchudinova', 'chernov', 'papushkina23',
       'рябовалексей сергеевич', 'isaevargs', 'isaevargsw'], dtype=object)